# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
media/
staticfiles/

# Virtualenv
venv/
ENV/
env/

# VSCode
.vscode/

# PyCharm
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Test/coverage
.coverage
htmlcov/

# Misc
*.swp
*.bak
*.tmp 